* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  appearance: none;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
}

:root {
  /*DRACULA THEME COLORS*/
  --background: hsl(231, 15%, 18%);
  --shadow: hsl(231, 14%, 10%);
  --modal-background: hsla(231, 14%, 10%, 0.8);
  --current-line: rgb(68, 71, 90);
  --comment: rgb(96, 113, 164);
  --foreground: #f8f8f2;
  --cyan: #8be8fd;
  --green: #52fa7c;
  --orange: #ffb86b;
  --pink: #ff7ac6;
  --purple: #bf95f9;
  --red: #ff5757;
  --yellow: #f1fa89;

  font-size: 62.5%;
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: var(--background);
}

.content {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 17rem 10.3rem 66.3rem;
  grid-template-areas:
    "navigation"
    "search-container"
    "apps-container";
  overflow-y: hidden;
}

.content header,
.content main,
.content section {
  display: flex;
  justify-content: center;
}

/*AREAS*/
.content header {
  grid-area: navigation;
}

.content main {
  grid-area: search-container;
}

.content section {
  grid-area: apps-container;
}

.noselect {
  user-select: none;
}

button {
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

input,
textarea {
  font-family: "Noto Sans", sans-serif;
}
